<br />
<div class="container">
    <div class="jumbotron">
        <p>
           <h2>Welcome to Admin area</h2>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Return to Home Page</a>
</div>