<div class="container">
    <img src="~/img/ContactUs.jpg" alt="Contact Us" height="200" width="500" />
    <div class="jumbotron">
        <h3>We wanna listen what you have to say</h3>
        <p>
            If you have any suggestion or question, please talk to us
        </p>
        <p>
            <span>
                <img src="~/img/Envelope-icon24.png" />
            </span>
            <h5><email address="viniciustaparosky@gmail.com" content="Send an email"></email></h5>
            <br />
            <span>
                <img src="~/img/phone-app-icon.png" />
            </span>
            <h5>(607) 732-2265</h5>
            <br />
            <span>
                <img src="~/img/Home-iconred.png" />
            </span>
            <h5>561 Riverside Ave Elmira, New York(NY), 14904</h5>
        </p>
    </div>
</div>